BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman

ColumnLimit: 100

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false

PointerAlignment: Left

SortIncludes: true

SpaceBeforeParens: ControlStatements

Cpp11BracedListStyle: true
Standard: c++11
